.clients {
  background-color: $backCard;
  padding-top: 50px;
  .clients__title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .clients__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 54px;

    .clients__item {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-content: center;
      .clients__item-icon {
        max-width: 177px;
      }
      .clients__item-text {
        font-family: "Metropolis";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: $textBlack;
        margin-left: 12px;
      }
    }
  }
}

.clients__items__row {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
