.header {
  position: relative;
  margin-bottom: 195px;
  @media (max-width: $breakpoint768) {
    margin-bottom: 100px;
  }
  @media (max-width: $breakpoint480) {
    margin-bottom: 60px;
  }

  .header__img {
    position: absolute;
    left: 22vw;
    bottom: -9vw;
    z-index: -1;
    @media (max-width: $breakpoint480) {
      display: none;
    }
  }
  .header__title {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 15px;
    color: $textBlack;
  }
  .header__text {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $textCard;
    @media (max-width: $breakpoint480) {
      text-align: center;
    }
  }
}

.header__links {
  margin-top: 62px;
  margin-bottom: 130px;
  @media (max-width: $breakpoint480) {
    margin-top: 32px;
    margin-bottom: 80px;
  }

  .header__btn {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding: 13px 24px;
    background-color: $btnBg;
    border-radius: 4px;
    color: $textWhite;
    margin-right: 45px;
  }
  .header__link {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $btnBg;
  }
}

.header__staistics {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: nowrap;
  max-width: 400px;
  @media (max-width: $breakpoint480) {
    max-width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .staistics__item {
    margin-top: 25px;
    .staistics__num {
      font-family: "Metropolis";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 12px;
      color: $textBlack;
    }
    .staistics__text {
      font-family: "Metropolis";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: $textMain;
    }
  }
}
