nav {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
    @media (max-width: $breakpoint480) {
      display: none;
    }
}

.logo {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;

  &__item {
    opacity: 0.8;
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
      img {
        margin-right: 8px;
      }

    &:hover {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
  .menu__btn {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    color: $textWhite;
    padding: 13px 20px;
    border-radius: 4px;
    background-color: $btnBg;
    outline: none;
    border: none;
    
  }
}
